@charset "UTF-8";

/* 기본 */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* Outlined */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

/* Filled */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Filled");

/* Rounded */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");

/* Sharp */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Sharp");

/* Two tone */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Tow+Tone");


.display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-relative {
    position: relative;
}
